<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A Modern Web Framework For Node.js</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
</head>
<body>
  <a href="/">Home</a> | <a href="{{ route('PostsController.create') }}">Create Post</a>
  @!section('page')
</body>
</html>
